@import url('./assets/bootstrap-grid.min.css');

#root {
font-family: sans-serif;
}
h1 {
}
.homepage-header {
    background-color: rgb(86, 161, 63);
    text-align: start;
    color: white;
    padding-top: 20px;

}
h3 {
    color: #333333
}
.primary-button {
    background-color: #e8e6eb;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: 600;
    transition-duration: 0.2s;
    justify-content: center;
}
.primary-button:hover {
    cursor: pointer;
    transition-duration: 0.2s;
}

.primary-button:disabled:hover {
    transform: none;
}
.display-item-outer {
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: 0.2s;
}
.display-item-outer:hover {
    transition-duration: 0.2s;
    transform: translateY(-2px);
    cursor: pointer;
}
.display-item-inner {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 3px;
    border: 1.5px solid gray;
    display: flex;
    flex-direction: column;
}
.top-card {
    display: inline-block;
  align-self: flex-start;
}
.bottom-card {
    margin-top: auto;
}
.error-code {
    color: red;
    font-weight: 800;
}
.searchrow {
    margin-bottom: 50px
}
.searchtext {
    font-size: smaller;
}
.searchbar {
    height: 35px;
    font-size: larger;
}